<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ITechnologyNET.FindUnusedFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<userSettings>
        <ITechnologyNET.FindUnusedFiles.Properties.Settings>
                <setting name="Find" serializeAs="String">
                        <value>\.(gif|png|jpg|jpeg|bmp|ico|svg|js|css)$</value>
                </setting>
                <setting name="Search" serializeAs="String">
                        <value>\.(htm|html|aspx|ascx|master|cshtml|js|css|less|scss)$</value>
                </setting>
                <setting name="Directory" serializeAs="String">
                        <value />
                </setting>
        </ITechnologyNET.FindUnusedFiles.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
